body {
	background-attachment: fixed;
	background-position: center;
	background-color: black;
	font-family: Verdana;
	color:white;
}

#title {
	text-align: center;
	color: #ffcc33;
}

#leftButtons {
	text-align: left;
	float: left;
}

#rightButtons {
	text-align: right;
	float: right;
}

#timeline {
	margin-right: auto;
	margin-left: auto;
}

#dateCell {
	text-align: center;
}

#eventCell {
	text-align: right;
	width: 200px;
}

#mediaCell {
	text-align: left;
	width: 200px;
}

.label {
	margin: 15px 0px 0px 0px;
}

.filterButton {
	background-color: rgba(100, 150, 255, 0.5);
	margin: 10px 0px 0px 0px;
	padding: 10px;
}

.compactFilterButton {
	background-color: rgba(50, 75, 200, 0.5);
	margin-top: -5px;
	padding: 3px;
}

.filterButton, .compactFilterButton {
	border: none;
	color: white;
	width: 100%;
}

.collectionHolder {
	display: normal;
}