.formHolder {
	border: 1px solid blue;
	border-radius: 25px;
	padding: 5px 25px 25px 25px;
	margin-right: auto;
	margin-left: auto;
	width: 300px;
}

.label {
	margin: 20px 0px 5px 0px;
}

.input {
	margin-bottom: 10px;
	width: 100%;
}

.text-area {
	height: 150px;
	resize: none;
}

.buttonHolder {
	text-align: center;
	margin-top: 10px;
	padding-bottom: 40px;
}

.formButton {
	border: 1px solid blue;
	text-align: center;
	display: inline;
	margin: 0px 5px 0px 5px;
	border-radius: 0px 0px 10px 10px;
	padding: 10px;
}

.formButton label {
	background-color: rgba(0, 0, 0, 0);
	border: none;
	color: #9999ff;
	font-size: 1em;
}

.errorHolder {
	text-align: center;
}

.hidden {
	display: none;
}

.required::before {
	content: '* ';
	color: #ffcc33;
}

.errors {
	display: inline-block;
	margin-right: auto;
	margin-left: auto;
	color: red;
}

.tag:before {
	content: 'x ';
	color: blue;
	line-height: 0px;
	font-size: 1.3em;
	font-weight: bold;
}

#tagHolder {
	margin: 10px 0px 5px 0px;
}

.tag {
	display: inline;
	padding: 5px;
	margin: 0px 3px 3px 0px;
	background-color:#ccccff;
	color:black;
	border:none;
}

#tagSearch {
	width: 80%;
}

#addTagButton {
	margin-right: -10px;
	width: 18%;
}

ul {
	list-style-type: square;
	text-align: left;
}

#warningMessage {
	color: grey;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	margin-top: -10px;
	margin-bottom: 30px;
	width: 300px;
}