.formHolder {
	margin-right: auto;
	margin-left: auto;
	width: 300px;
}

.label {
	margin: 20px 0px 5px 0px;
}

.input {
	margin-bottom: 10px;
	width: 100%;
}

.text-area {
	height: 150px;
	resize: none;
}

.buttonHolder {
	text-align: center;
}

.formButton {
	margin-top: 30px;
}

.errorHolder {
	text-align: center;
}

.hidden {
	display: none;
}

.required::before {
	content: '* ';
	color: #aa66ff;
}

.errors {
	display: inline-block;
	margin-right: auto;
	margin-left: auto;
	color: red;
}

.tag:before {
	content: 'x ';
	color: blue;
	line-height: 0px;
	font-size: 1.3em;
	font-weight: bold;
}

#tagHolder {
	margin: 15px 0px 15px 0px;
}

.tag {
	display: inline;
	padding: 5px;
	margin: 0px 3px 0px 0px;
	background-color:#ccccff;
	color:black;
	border:none;
}

#tagSearch {
	width: 80%;
}

#addTagButton {
	margin-right: -10px;
	width: 18%;
}

ul {
	list-style-type: square;
	text-align: left;
}