body {
	background-attachment: fixed;
	background-position: center;
	background-color: black;
	font-family: Trebuchet MS, Verdana, Geneva, sans-serif;
	color:white;
	min-width: 700px;
}

#title, #title a {
	text-align: center;
	color: #ffcc33;
	text-decoration: none;
}

a {
	color: #9999ff;
	text-decoration: none;
}