#leftButtons {
	text-align: left;
	float: left;
}

#rightButtons {
	text-align: right;
	float: right;
}

#timeline {
	margin-right: auto;
	margin-left: auto;
}

#dateCell {
	text-align: center;
}

#eventCell {
	text-align: right;
	width: 200px;
}

#mediaCell {
	text-align: left;
	width: 200px;
}

#topButtonHolder {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	margin-bottom: 40px;
	border-top: 1px solid blue;
}

#topButtonHolder div {
	text-align: center;
	display: inline;
	border: 1px solid blue;
	border-radius: 0px 0px 10px 10px;
	padding: 10px;
	margin: 5px;
}

.label {
	margin: 15px 0px 0px 0px;
}

.filterButton, .compactFilterButton, .expandCollapseButton {
	border: none;
	width: 100%;
}

.filterButton {
	background-color: rgba(100, 150, 255, 0.5);
	margin: 10px 0px 0px 0px;
	padding: 10px;
	color: white;
}

.compactFilterButton {
	background-color: rgba(50, 75, 200, 0.5);
	margin-top: -5px;
	padding: 3px;
	color: white;
}

.expandCollapseButton {
	background-color: white;
	color: black;
}

.collectionHolder {
	display: none;
}

.selected {
	background-color: yellow;
	color: black;
}